* {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    
}

:root {
    --primary: whitesmoke;
    --secondary: rgb(23, 237, 237);
    --tertiary: rgb(224, 251, 21);
    --fourth: rgb(30, 29, 29);
}

body {
    background-color: var(--secondary);
}

.header {
    color: var(--tertiary);
    text-align: right;
    position: relative;
    left: -50px;
}

main {
    background-color: var(--secondary);
    width: 800px;
    height: auto;
    margin: 20px auto;
}

.quiz-game-card {
    background-color: var(--fourth);
    border: 8px outset var(--tertiary);
    position: relative;
    width: 600px;
    height: 500px;
    margin: auto;
    border-radius: 2%;
}

#game-score {
    color: var(--tertiary);
    position: absolute;
    top: 5px;
    left: 5px;
}

#setTimer {
    color: var(--tertiary);
    position: absolute;
    top: 5px;
    right: 5px;
}



.game {
    color: var(--primary);
}

#question-area {
    color: var(--fourth);  
}

#question-text {
    color: var(--tertiary);
    font-size: 32px;
    position: absolute;
    width: auto;
    left: 0px;
    right: 0px;
    top: 75px;
    text-align: center;
}

#answer-choices button {
    color: var(--tertiary);
    background-color: var(--fourth);
    border: 2px solid var(--primary);
    position: absolute;
    text-align: center;
    font-size: 24px;
}

#answer-choices button:hover {
    background-color: var(--secondary);
    color: var(--fourth);
    cursor: pointer;
}

#answer-choices button:active {
    background-color: var(--tertiary);
    color: var(--fourth);
    cursor: pointer;
}

#option-one {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 175px;
}

#option-two {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 225px;
}

#option-three {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 275px;
}



#start-game {
    background-color: var(--fourth);
    color: var(--secondary);
    font-size: 24px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 5px;
    width: auto;
}

#start-game:hover {
    background-color: var(--secondary);
    color: var(--fourth);
    cursor: pointer;
}

#start-game:active {
    background-color: var(--tertiary);
    color: var(--fourth);
    cursor: pointer;
}

button {
    border-radius: 10%;
    border: 2px solid var(--primary);
    text-align: center;
    width: auto;
}

